<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.FootballClubMatchingMapper">
	<select id="test" resultType="org.zerock.domain.TestVO">
		SELECT * FROM test
	</select>
	
	<select id="footballClubName" resultType="String">
		SELECT team FROM test
		WHERE que = #{que} AND value = #{value}
	</select>
</mapper>